body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: white;
    opacity: 0.75;
    /* box-shadow: 0 4px 2px -2px gray; */
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

nav a {
    color: #696969;
    text-decoration: none;
    font-size: 25px;
}

section {
    padding: 15px 5px;
}

header {
    background-image: url("./images/header-image.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 150px 90px;
}

header h2 {
    color: white;
    font-size: 3em;
}



.logo {
    height: 70px;
}